<div *ngIf="grade=='admin'">
<div align="center"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Ajouter un interview  </button>
    </div></div>
    <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Titre</th>
              <th>Date</th>
              <th *ngIf="grade=='admin'" style="width: 40px">Action</th>
            </tr>
          </thead>
          <tbody>
          
            <tr *ngFor="let inter of interviews">
              <td>{{inter.titre}}</td>
              <td>
               {{inter.date}}
              </td>
              <td *ngIf="grade=='admin'"><a class="btn btn-danger" (click)="supprimer(inter.id)">supprimer</a></td>
            </tr>
           
          </tbody>
        </table>
      </div>




      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ajouter</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="row">
                  <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                      <label>titre</label>
                      <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="interview.titre" name="nom" class="form-control" placeholder="Votre titre">
                    </div>
                  </div>
                  </div>
                <div class="row">
                  <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                      <label>date</label>
                      <input type="date" [ngModelOptions]="{standalone: true}" [(ngModel)]="interview.date" name="date" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
                  </div>

             
                <div class="card-footer">
                  <button type="submit" (click)="ajouter()" class="btn btn-primary">Submit</button>
                </div>
              
</form>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>