<div align="center"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Ajouter une candidature  </button>
    </div>
  
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ajouter</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="row">
                  <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                      <label>Type</label>
                      <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="candidat.type" nom="nom" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
               
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <!-- textarea -->
                    <div class="form-group">
                      <label>Description</label>
                      <textarea   name="adresse" class="form-control" rows="3" [(ngModel)]="candidat.description" placeholder="Enter ..."></textarea>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Curriculum Vitae</label>
                      <input (change)="onFileSelected($event)"
                      type="file"
                      id="file"
                      #curriculame
                      name="cv"
                      autocomplete="off"
                       [(ngModel)]="candidat.curriculum" class="form-control" placeholder="Enter ..." >
                    </div>
                  </div>
                </div>

                <!-- input states -->
              
           
         

             
                <div class="card-footer">
                  <button type="submit" (click)="ajouter()" class="btn btn-primary">Submit</button>
                </div>
              
</form>
            </div>
            <div class="modal-footer">
             
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 10px">nom</th>
              <th>Description</th>
              <th>type</th>
              <th >Curriculum</th>
             
              <th >Action</th>
            </tr>
          </thead>
          <tbody>
          
            <tr *ngFor="let cv of candidatures">
              <td>{{cv.description}}</td>
              <td>{{cv.type}}</td>
              <td>
   <a href="cv.curriculum" target="_blank">Voir Curriculum vitae</a>
              </td>
           
       
              <td><a class="btn btn-danger" (click)="supprimer(cv.id)">supprimer</a></td>
            </tr>
           
          </tbody>
        </table>
      </div>