
  
  
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
             
              <th >Curriculum</th>
              <th >nom</th>
             
              <th >Action</th>
            </tr>
          </thead>
          <tbody>
          
            <tr *ngFor="let cv of candidatures">
      
              <td>
   <a href="{{cv.curriculum}}" target="_blank">Voir Curriculum vitae</a>
              </td>
              <td>
   {{cv.user}}
              </td>
           
       
              <td><a class="btn btn-danger" (click)="supprimer(cv.id)">supprimer</a></td>
            </tr>
           
          </tbody>
        </table>
      </div>