<!-- Button trigger modal -->
<div *ngIf="grade=='admin'">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
Ajouter un sujet  </button>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sujet</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table table-borderless">
                <tr><td><h1>Création d'un topic</h1></td></tr>
                <tr><td>Titre</td><td><input class="form-control" [(ngModel)]="topic.titre" type="text" name="titre"></td></tr>
                <tr><td>Description</td><td><textarea class="form-control" [(ngModel)]="topic.description" name="description" class="form-control"></textarea></td></tr>
                <tr><td>clé</td><td><input type="text" class="form-control" [(ngModel)]="topic.cle" name="cle"></td></tr>
                <tr><td><input (click)="CreateRecord()" class="btn btn-primary" value="ajouter" type="button"></td></tr>
                
                
                
                </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
  
<table class="table table-bordered">
    <tr><td>titre</td><td>description</td><td>Action</td></tr>
    <tr  *ngFor="let tp of topics"><td>{{tp.titre}}</td><td>{{tp.description}}</td><td><input type="button" class="btn btn-primary" value="acceder" (click)="access(tp.cle)"></td></tr>
    </table>

    <div *ngIf="clicked" class="mb-3">
      <label for="codeaccess"  class="form-label">Votre code d'accés</label>
      <input type="text"  name="code" [(ngModel)]="code" class="form-control" id="codeaccess" aria-describedby="accessdata">
      <div id="accessdata" class="form-text">la clé est envoyé par mail de notre part</div>
      <button type="submit" (click)="verif()" class="btn btn-primary">commencer le interview</button>

    </div>