<div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
        <div class="col-md-8">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Profile</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="row">
                  <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                      <label>Nom</label>
                      <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.nom" nom="nom" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>age</label>
                      <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="user.age" nom="age" class="form-control" placeholder="Enter ..." >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <!-- textarea -->
                    <div class="form-group">
                      <label>Adresse</label>
                      <textarea   name="adresse" class="form-control" rows="3" [(ngModel)]="user.adresse" placeholder="Enter ..."></textarea>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Téléphone</label>
                      <input type="text"  name="phone" [(ngModel)]="user.telephone" class="form-control" placeholder="Enter ..." >
                    </div>
                  </div>
                </div>

                <!-- input states -->
                <div class="form-group">
                  <label class="col-form-label" for="inputSuccess"><i class="fas fa-check"></i> 
                    Email</label>
                  <input type="text" [(ngModel)]="user.email" name="email" class="form-control " id="inputSuccess" placeholder="Enter ...">
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="inputWarning"><i class="far fa-bell"></i> 
                    Mot de passe</label>
                  <input type="password" name="mdp"  class="form-control " id="inputWarning" placeholder="Enter ...">
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="inputError"><i class="far fa-times-circle"></i> 
                    niveau</label>
                  <input type="text" [(ngModel)]="user.niveau" name="niveau" class="form-control " id="inputError" placeholder="Enter ...">
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Curriculum Vitae</label>
                    <input (change)="onFileSelected($event)"
                    type="file"
                    id="file"
                    #curriculame
                    name="cv"
                    autocomplete="off"
                     [(ngModel)]="user.curriculum_vitae" class="form-control" placeholder="Enter ..." >
                  </div>
                </div>
                <div class="card-footer">
                  <button type="submit" (click)="update()" class="btn btn-primary">Submit</button>
                </div>
          <table *ngIf="fb!=''&& b==false" class="table">
<tr><td>Spécialité reconnue</td><td>Spécialité 2</td><td>Spécialité 3</td></tr>
<tr><td>{{did.specialite}}({{did.s1}}%)</td><td>{{did.specialite2}}({{did.s2}}%)</td><td>{{did.specialite3}}({{did.s3}}%)</td></tr>

          </table>    
          <p *ngIf="fb!=''&& b==true">non reconnu veuillez inclure un CV valide</p>
</form>
              
            <div class="col-md-2"></div>


          </div>
</div>
</div>